
<div ui-layout="{}">
  <fieldset id="1">
    <legend>
        Tab 1
        <button >Crear</button>
        <a href="Vericar">xxxx</a>
    </legend>
    <span ui-clayout="{type:'panel', col:2}">
      <input ui-layout="{col:2}" placeholder="nombre"/>
      <input ui-layout="{col:4}" placeholder="apellido"/>
      <input ui-layout="{col:6}" placeholder="direccion"/>
    </span>
  </fieldset>
  <fieldset id="2">
    <legend>Tab 2 <button >Crear</button></legend>
    <div ui-clayout="{type:'panel', col:2}">
      <input ui-layout="{col:2}" placeholder="nombre"/>
      <input ui-layout="{col:4}" placeholder="apellido"/>
      <input ui-layout="{col:6}" placeholder="direccion"/>
    </div>
  </fieldset>
  <fieldset id="3">
    <legend>Tab 3 <button >Crear</button></legend>
    <span ui-layout="{type:'panel', col:2}">
      <input ui-layout="{col:2}" placeholder="nombre"/>
      <input ui-layout="{col:4}" placeholder="apellido"/>
      <input ui-layout="{col:6}" placeholder="direccion"/>
    </span>
  </fieldset>
</div>
