<?xml version="1.0"?>
<div>
<h1>---------------NONE-----------</h1>
<input/>
<label class="control-label"/><div class="input-group"><input type="email" class="form-control col-md-3" ui-layout="" ng-model="xxxxx"/><span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"/></div>
<label class="control-label"/><span class="input-group"><a data-toggle="dropdown" href="#" class="form-control"><span class="form-control-staticx">
					{{xxxxx}}
					<span class="caret"/></span></a><span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"/><select size="10" class="dropdown-menu" ui-layout="" ng-model="xxxxx" type="email"/></span>
<h1>X: {{xxxxx}}</h1>
</div>
